/*  ESTILOS BÃSICOS  */

:root {
    box-sizing: border-box;
    font-family: Roboto,Helvetica,Arial,sans-serif;
    overflow-x: hidden;
    min-width: 300px;
}

*, ::after, ::before {
    box-sizing: inherit;
}

* + * {
    margin: 1em;
}

.container {
    display: flex;
}

a {
    text-decoration: none;
}

strong {
    margin: 0;
}

body {
    background-color: #AAA;
}

/*  --HEADER--  */

.top-bar {
    justify-content: space-between;
    background-color: #306e64;
    align-items: center;
    margin: -1em;
}

.top-link {
    padding: .5em;
    border-radius: 1em;
    margin: 0.25em .5em;
    color: rgb(0, 0, 0, .7);
    cursor: pointer;
}

.nav-lateral {
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 0 0 1em;
    position: absolute;
    height: 100vh;
    width: 80%; 
    margin-left: -1em;
    background-color: #306e64;
    transition: all .5s ease-in-out;
}

.none {
    margin-left: -85%;
    transition: all .5s ease-in-out;
}

/*  --BODY--  */

main {
    height: auto;
}

/* Buscador */

.search-box {
    width: 100%;
    background-color: white;
    margin: 2em 0 0;
    align-items: center;
    border: 1px solid black;
}

.search-button {
    padding: 0 .5em;
    margin: 0;
    cursor: pointer;
}

.search-bar {
    flex-grow: 3;
    margin: 0;
    padding: 1em;
    border: 0;
}

/* Slide */

.slide-top {
    background-color: white;
    padding: 0 1em;
    margin: 1em -2em 0;
    flex-direction: column;
}

.slide {
    margin: -1em -1.5em 0 -1.5em;
}

.slide > article {
    padding-right: 1.5em;
    padding-left: 1.5em;
    padding: 1em;
    border-radius: 0.20em;
    flex-direction: column;
    display: flex;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
}

.img-slide {
    width: 10em;
}

/* Categorias */

.categories {
    background-color: white;
    margin-right: -2em;
    margin-left:-2em;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.categories > article {
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
    padding: 0.3em;
    border-radius: .25em;
}

/*  --FOOTER-- */

footer {
    background-color: #ccc;
    padding: .25em;
    margin: 0 -1em -1em;
    text-align: center;
}

.copy {
    font-size: 1em;
    color: black;
    opacity: .60;
    padding: .25em;
}

.social-img {
    width: 1em;
    filter: grayscale(100%);
    transition: filter .25s;
}

.social-img:hover {
    filter: grayscale(0);
}

@media only screen and (min-width: 768px) {
    .nav-lateral {
        flex-direction: row;
        justify-content: space-between;
        border-radius: 0;
        padding-bottom: .5em;
        height: auto;
        width: 100%;
        margin-left: -1em;
    }
    
    main {
        padding-top: 4em;
    }
    
    .icon-menu {
        display: none;        
    }
}